@{
    ViewBag.Title = "Accueil";
}

<br /> 
<div class="jumbotron">
    <h1>Bienvenue sur Auto'online</h1>
    <p class="lead">Notre équipe met à votre disposition toute une gamme de véhicules d'occasion en partenariat avec certains des plus gros constructeurs.</p>
    <p><a href="/Home/Vehicules" class="btn btn-primary btn-lg">Voir tous les véhicules &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Des véhicules de qualité</h2>
        <p>
            Notre équipe s'assure pour chaque véhicule, qu'il est bien conforme aux règles environnementales et à la 
            législation. Tous les véhicules mis en vente sont étudiés par notre équipe d'expert vous assurant des véhicules de qualité.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Des partenaires sérieux</h2>
        <p>
            Nous choisissons nos partenaires en utilisant des critères puissants et très strictes afin de vous délivrer la meilleure qualité.
            Nos partenaires et nous travaillons main dans la main pour vous délivrer des offres sérieuses.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Un SAV robuste</h2>
        <p>
            Un problème ? Pas de soucis, notre équipe SAV est à votre écoute afin d'étudier avec vous les solutions possibles à votre problème.
        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>
