@{
    ViewBag.Title = "Panel";
}

<h3>@ViewBag.Message</h3>

<main class="flex-shrink-0">
    <div class="container" style="padding-top: 50px">
        <div class="row align-items-start full-height">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Types de données supportés</div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Texte</a></li>
                            <li><a href="#">SQL</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>WIP</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>